<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>CCounter</title>
</head>
<body>
    <div class="block" id='meal'>
        <div class="container">
            
        </div>    
    </div>
    <div class="block" id='dailyNorm'>
        <div class="container">
            
        </div>
    </div>
    <div class="block" id='total'>
        <div class="container">
            
        </div>
    </div>
    <div class="block" id='infoSearch'>
        <div class="container">
            
        </div>
    </div>
</body>
</html>

